/* ===== Responsividade completa para Desktop ===== */
@media (min-width: 1024px) {

  /* ===== Estrutura geral ===== */
  body {
    font-size: 18px;
    line-height: 1.6;
    max-width: 100vw;
    margin: 0 auto;
    background-color:#c2338f; /* mantém o foco no visual da academia */
    overflow-x: hidden;
  }

  header.topo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    z-index: 10;
  } 
  

 .logoUltra {
  width: 200px;
  height: auto;
  position: absolute;
  top: 15px;              /* distância do topo */
  left: 35%;              /* centraliza horizontalmente */
  transform: translateX(-50%); /* corrige o centro exato */
  z-index: 10;
}

.logo {
  width: 100px;
  height: auto;
  position: absolute;
  top: 10px;              /* mesma altura da logoUltra */
  right: 60px;            /* fixa no canto direito */
  z-index: 10;
}
  /* ===== Hero Section ===== */
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 40px;
    margin-top: 40px;
  }

  .hero-img {
    width: 100%;
    margin-left: auto;
    margin-top: -170px;
    clip-path: polygon(0 10%, 100% 10%, 105% 75%, 0 57%);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);

  }

  .ative {
  width: 303%;
  max-width: 541px;
  display: block;
  margin: 1000px 475px 0px auto; /* centraliza horizontalmente e afasta do topo */
  animation: float 4s ease-in-out infinite;

  @keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
  }

  /* ===== Plano Goldpró ===== */
  .plano {
    text-align: center;
    margin-top: 80px;
  }

  .preco-ultra {
    width: 800px;
    max-width: 100%;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
    display: flex;
    margin-top: -1000px;
    margin-left: 35%;
    animation: float 4s ease-in-out infinite;

  }

  .preco-ultra:hover {
  transform: scale(1.02);
  box-shadow: 0 0 25px rgba(255, 77, 166, 0.5);
}

.btn-matricula,
.btn-matricula2 {
  display: inline-block;
  background: #fff;
  color: #e93080;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 77, 166, 0.3);
}

.btn-matricula:hover
.btn-matricula2:hover {
  background: #fff;
  color: #e93080;
}

.btn-matricula {
  position: absolute;
  margin-left: -150px;
  margin-top: -616px;
  align-items: center;
}

  /* ===== Motivos ===== */
  .motivos {
    display: flex;
    justify-content: center;
    margin-top: -571px;
    margin-left: 220px;
  }

  .motivos-img {
    width: 70%;
    max-width: 900px;
  }

  /* ===== Foto da Academia ===== */
  .section-imagem-academia {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }

  .academia-img {
    width: 100%;
    margin-left: auto;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    margin-top: -90px;
  }

  /* ===== Localização ===== */
  .local {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }

  .local-img {
    width: 60%;
    max-width: 700px;
    margin-left: -710px;
    margin-top: -134;
  }

  /* ===== Formulário ===== */
  .vip {
    text-align: center;
    margin-top: -60px;
    background: rgba(255, 255, 255, 0.05);
    padding: 50px;

    border-radius: 20px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.05);
  }

  .formulario h7 {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600;
    display: block;
    margin-bottom: 30px;
  }

  .formulario form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .formulario input, .formulario button {
    width: 60%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;

  }

  .formulario input {
    background: rgba(255,255,255,0.9);
  }

  .formulario button {
    background: linear-gradient(rgba(255, 77, 166, 0.3), #e93080);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    width: 275px;
    margin-top: 271px;
  }

  .formulario button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(255, 77, 166, 0.3);
  }

  /* ===== Estrutura ===== */
  .estrutura {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    justify-items: center;
    align-items: center;
    margin: 100px 0;
  }

  .aparelhosAcademia {
    width: 100% !important;
    display: block;
    margin-left: auto;
    clip-path: polygon(0 15%, 100% 15%, 100% 66%, 0 55%);
    
  }

  .climatizado {
    width: 50% !important;
    margin-left: -50% !important;
    display: flex;

  }
.reconhecimento {
    width: 50% !important;
    margin-left: auto;
    margin-top: -945px !important;
    margin-left: -620px !important;
  }


  .facial {
    width: 100%;
    clip-path: polygon(0 25%, 100% 31%, 105% 82%, 0 70%);
    margin-top: -765px !important;
    margin-left: -1px !important;
  
  }

  /* ===== Seção Final ===== */
  .final {
    text-align: center;
    margin-top: 100px;
  }

  .vamos-ultra {
    width: 60%;
    max-width: 700px;
        margin-left: 216px;
        margin-top: -441px;
        display: flex
;
  }

  .btn-matricula2 {
    display: inline-block;
    margin-top: 30px;
    background: linear-gradient(90deg, rgba(255, 77, 166, 0.3), #e93080);
    color: #fff;
    padding: 15px 60px;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
  }

  .btn-matricula2:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(255, 77, 166, 0.3);
  }

  /* ===== Botão WhatsApp ===== */
  .whatsapp-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    transition: transform 0.3s ease;
  }

  .whatsapp-button img {
    width: 100%;
    height: 70px;
  }

  .whatsapp-button:hover {
    transform: scale(1.1);
  }

  /* ===== Rodapé ===== */
  footer.footer {
    
    backdrop-filter: blur(6px); /* efeito vidro */
    color: #fff;
    text-align: center;
    padding: 30px 10px;
    font-size: 0.9rem;
    border-top: 2px solid #e93080;
  }

  footer.footer a {
    color: #b495a3;
    text-decoration: none;
    backdrop-filter: blur(6px); /* efeito vidro */
  }

  footer.footer a:hover {
    text-decoration: underline;
  }
}


/* ===== BOTÃO LISTA VIP ===== */
.btn-vip {
  display: inline-block;
  background: linear-gradient(45deg, #ff007a, #968e7c);
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 12px 28px;
  border: none;
  border-radius: 40px;
  margin-top: 15px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 15px rgba(255, 0, 122, 0.6);
  transition: all 0.3s ease;
  animation: pulseVip 1.8s infinite;
}

.btn-vip:hover {
  transform: scale(1.08);
  box-shadow: 0 0 25px rgba(255, 174, 0, 0.9);
}

/* Animação pulsante */
@keyframes pulseVip {
  0% { box-shadow: 0 0 10px rgba(221, 216, 218, 0.5); }
  50% { box-shadow: 0 0 25px rgb(143, 129, 100); }
  100% { box-shadow: 0 0 10px rgba(255, 0, 122, 0.5); }
}}