/* ===== Reset e base ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 100%;
}

body {
  background-color: #c2338f;
  color: #fff;
  text-align: center;
  line-height: 1.6;
  overflow-x: hidden;
  font-family: "Gotham", sans-serif;
}

/* ===== Cabeçalho ===== */
header.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0px;
}

/* ===== Animações globais ===== */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1.2s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===== Logos ===== */
.logo {
  height: 60px;
  margin-left: 356px;
  transition: transform 0.4s;
  display: block;
  margin-right: 8px;
  margin-top: -50px;
}

.logo:hover {
  transform: scale(1.1);
  transition: 0.4s ease;
}

.logoUltra {
  height: 55px;
  transition: transform 0.4s;
  display: block;
  margin-left: 165px;
}

.logoUltra:hover {
  transform: scale(1.1);
  transition: 0.4s ease;
}

/* ===== Hero ===== */
.hero {
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}

.hero-img {
  width: 128%;
  max-width: none;
  border-radius: 0;
  animation: fadeInUp 1.2s ease forwards;
  transition: transform 0.5s;
  margin-left:-106px;
  clip-path: polygon(0 15%, 100% 27%, 105% 76%, 0 57%);
  margin-top: -122px;
}

.hero-img:hover {
  transform: scale(1.02);
}

.hero span {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}

/* ===== Imagem Ative ===== */
.ative {
  position: absolute;
  width: 187px;
  top: 400px;
  right: 114px;
  transform: translateY(-50%);
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(-50%) translateY(0);
  }
  50% {
    transform: translateY(-50%) translateY(-10px);
  }
}

/* ===== Plano ===== */
.preco-ultra {
  background: #ff4da6;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
  width: 85%;
  margin-top: -161px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.preco-ultra:hover {
  transform: scale(1.02);
  box-shadow: 0 0 25px rgba(255, 77, 166, 0.5);
}

.btn-matricula,
.btn-matricula2 {
  display: inline-block;
  background: #fff;
  color: #e93080;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 77, 166, 0.3);
}

.btn-matricula:hover,
.btn-matricula2:hover {
  background: #fff;
  color: #e93080;
}

.btn-matricula {
  position: absolute;
  margin-top: -55px;
  margin-left: -78px;
}

/* ===== Imagens Academia ===== */
.academia-img {
  display: block;
  width: 117%;
  border-radius: 0;
  clip-path: polygon(0 1%, 100% 18%, 105% 85%, 0 70%);
}

.academia-img {
  width: 100%;
  max-width: 100%;
  height: 416px;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
  overflow: hidden;
  position: relative;
  object-position: center;
}

.academia-img:hover {
  transform: scale(1.03);
}

/* ===== Motivos ===== */
.motivos-img {
  margin: 40px auto;
  width: 90%;
  transition: transform 0.4s ease;
}

.motivos-img:hover {
  transform: scale(1.02);
  box-shadow: 0 0 25px rgba(255, 77, 166, 0.5);
}

/* ===== Localização ===== */
.local {
  width: 90%;
  margin: 40px auto;
}

.local img {
  width: 100%;
  border-radius: 15px;
  margin-top: -77px;
}

/* ===== Lista VIP (substituindo formulário) ===== */
.vip {
  width: 85%;
  margin: 69px auto;
  padding: 0;
  border-radius: 20px;
  position: relative;
  transition: transform 0.4s, box-shadow 0.4s;
  display: flex;
  flex-direction: column; /* <— coloca um embaixo do outro */
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.listaVip {
  width: 100%;
  max-width: 300px;
  border-radius: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  animation: pulse 3s infinite;
  margin-top: -30px;
}


.listaVip:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(255, 77, 166, 0.5);
}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}

/* ===== BOTÃO LISTA VIP ===== */
.btn-vip {
  display: inline-block;
  background: linear-gradient(45deg, #ff007a, #867245);
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 12px 28px;
  border: none;
  border-radius: 40px;
  margin-top: px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 15px rgba(255, 0, 122, 0.6);
  transition: all 0.3s ease;
  animation: pulseVip 1.8s infinite;
  margin-left: -263;

}

.btn-vip:hover {
  transform: scale(1.08);
  box-shadow: 0 0 25px rgba(255, 174, 0, 0.9);
}

/* Animação pulsante */
@keyframes pulseVip {
  0% { box-shadow: 0 0 10px rgba(255, 0, 122, 0.5); }
  50% { box-shadow: 0 0 25px rgb(134, 120, 87); }
  100% { box-shadow: 0 0 10px rgba(255, 0, 122, 0.5); }
}


/* ===== Estrutura ===== */
.estrutura {
  margin: 0;
  width: 100%;
}

.estrutura img {
  width: 100%;
  margin: 10px 0;
  transition: transform 0.5s ease;
}

/* ===== Elementos específicos ===== */
.reconhecimento{ 
  width: 267px !important; 
  margin-top: -124px !important;
  margin-left: -116px !important;
}

.facial {
  width: 100% !important;
  clip-path: polygon(0 25%, 100% 31%, 105% 82%, 0 70%);
  margin-top: -129px !important;
  margin-left: -1px !important;
}

.climatizado {
  display: flex;
  width: 43% !important;
  margin-left: 6% !important;
  margin-top: -10px !important;
}

.vamos-ultra {
  width: 335px;
  margin-bottom: 10px;
  margin-top: -59px;
}

/* ===== WhatsApp ===== */
.whatsapp-button,
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 1000;
  cursor: pointer;
  transition: transform 0.3s;
  display: flex;
  margin-bottom: 100px;
  margin-right: -25px;
}

.whatsapp-button img,
.whatsapp-float img {
  width: 181px;
  border-radius: 40%;
  padding: 10px;
  transition: 0.3s;
}

.whatsapp-button img:hover,
.whatsapp-float img:hover {
  transform: scale(1.1) rotate(10deg);
}

/* ===== Final ===== */
.final {
  margin: 40px auto;
  width: 85%;
}

.final h1 {
  font-size: 1.8rem;
  line-height: 1.3;
  animation: fadeInUp 1.2s ease forwards;
}

  /* ===== Rodapé ===== */
  footer.footer {
    
    backdrop-filter: blur(6px); /* efeito vidro */
    color: #fff;
    text-align: center;
    padding: 30px 10px;
    font-size: 0.9rem;
    border-top: 2px solid #e93080;
  }

  footer.footer a {
    color: #b495a3;
    text-decoration: none;
    backdrop-filter: blur(6px); /* efeito vidro */
  }

  footer.footer a:hover {
    text-decoration: underline;
  }


/* ===== Responsividade ===== */
@media (min-width: 768px) {
  .topo {
    justify-content: space-between;
    padding: 30px 50px;
  }

  .logo {
    height: 120px;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero span {
    font-size: 1.2rem;
  }

  .plano {
    width: 70%;
    padding: 40px;
  }

  .plano h2 {
    font-size: 5rem;
  }

  .plano p,
  .plano small {
    font-size: 1.1rem;
  }

  .btn-matricula,
  .btn-matricula2 {
    padding: 14px 28px;
    font-size: 1.1rem;
  }

  .motivos {
    width: 70%;
  }

  .local {
    width: 80%;
  }

  .formulario {
    width: 70%;
    padding: 30px;
  }

  .estrutura img {
    width: 100%;
  }

  .ar {
    width: 6% !important;
    height: auto;
  }

  .final {
    width: 70%;
  }

  .final h1 {
    font-size: 2rem;
  }

 /* ===== Footer ===== */
  .footer {
    padding: 30px 10px;
  }

  .footer span {
    color: #ffae00;
    font-weight: 700;
  }

  .footer a {
    color: #fff;
    font-weight: bold;
  }
}
